.intro-box {
    position: relative;
    left: 20%;
    top: 10%;
    transform: translateX(23%);
    width: 100%;
    .text-zone {
        // position: relative;
        min-width: 10;
        width: 100%;
        height: 20%;
        // max-height: 300%;
        transform: translateY(-1000%);
        animation: fadeIn 1s 2.2s backwards;
        

        h1 {
            color: #ffffff;
            font-size: 23px;
            margin: 0px;
            font-family: "Coolvetica";
            font-weight: 400;
            letter-spacing: 2px;


        }
}
}