.container {
    width: 87%;
    will-change: contents;
    min-height: 1100px;
    min-width: 10px;
    position: static !important;
    opacity: 0;
    top: 0;
    left: 100px;
    margin: 0px auto;
    z-index: 3;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}